{% load static %}


<div class="card-deck card-group-scroll" >
    {% for item in items %}
        <div class="card border-dark mb-2" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="{{item.id}}">
          <img class="card-img-top img-fluid" src="" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ item.name }}
                {% if item.response_type == 'Y' %}
                    <button type="button" class="btn btn-outline-success btn-sm" disabled>  Accepted </button>
                {% elif item.response_type == 'N' %}
                    <button type="button" class="btn btn-outline-danger btn-sm" disabled> Not Accepted </button>
                {% endif %}
            </h4>
               <p class="card-text"> - written to {{ item.assigned_to }} as happened on {{ item.get_happened_on_display }}</p>
            <p class="card-text"><small class="text-muted">{{ item.created_date }}</small></p>
          </div>
        </div>
    {% endfor %}

</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="border:red">
    </div>
  </div>
</div>

