<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
    <h6>{%time_of_day%}</h6>

<div class="jumbotron">
    {% if not user.is_authenticated %}
    <p class="lead">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'manage_sy/icons/sorry-keyboard.jpg' %}" class="d-block w-100 h-50" alt=" SignUp ">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Scared to Apologize??</h5>
                    <p><a href="{% url 'manage_sy:signup' %}"> Sign up and send a sorry card!! </a></p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static 'manage_sy/icons/TellSorry.jpg' %}" class="d-block w-100 h-50" alt="Tell a sorry">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Create a sorry card!! </h5>
                    <p>Confess for what you have done...or.what you have not done yet!!.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static 'manage_sy/icons/AskForSorry.jpg' %}" class="d-block w-100 h-50" alt="Ask for a sorry" width="25%">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Ask or Demand a Sorry!!</h5>
                    <p>Feeling like wanting an apology..couldn't ask direclty?? .</p>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
    </p>
    {% else %}
    <div class="container">
        {% comment %} <h2> {{ user.nickname }},</h2> {% endcomment %}
        <h3>
             {% if user.companion_name  %}
                {% if not cards_for_you_flow  %}
               <i class="fas fa-share-square"></i>  Sorries you wrote <sup>({{user.syitem_set.count|default:"Nothing yet"}})</sup>!!
                <div class="float-right circle" data-toggle="modal" data-target="#modalnewitemform" data-backdrop="static"  title="add a new apology note!">
                    <div class='horizontal-plus'></div>
                    <div class='vertical-plus'></div>
                </div>

                {% else %}
                    {% if user.companion_registered %}
                       <i class="fas fa-inbox"></i> <i>{{user.companion_name}}</i> wrote <sup>({{companion_cards.count|default:"Nothing yet"}})</sup>!!<sub><a class="float-right" href="{% url 'manage_sy:cards_by_you'%}" title="see what you wrote"><i class="fas fa-share-square"></i></a></sub>
                    {% else %}
            {{user.companion_name}} not yet registered, <a href="{% url 'manage_sy:companion_remind'%}"> send an invite</a>?
                    {% endif %}
                {% endif %}
            {% else  %}
              <small>  You did not have your other half added, you can add in <a href="{% url 'manage_sy:member_edit_add_companion' user.pk %}"> profile</a></small>
            {% endif %}

        </h3>
        <br>
        {% if not cards_for_you_flow %}
        {% include "includes/sy_item.html" with items=user.syitem_set|sort_by:'-updated_date' only %}
        {% else %}
            {% if user.companion_registered %}
                {% include "includes/sy_item.html" with items=companion_cards only %}
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>

<div class="modal fade" id="modalnewitemform" tabindex="-1" role="dialog" aria-labelledby="modalnewitemformTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" id="new-item-form">

    </div>
  </div>
</div>

{% endblock content %}
</html>
