<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block title %}  {{user}}'s Profile  {% endblock title %}
{% block content %}

<div class="profile-card">



  {% if member.gender == 'M' %} <img src="{% static 'manage_sy/profilepics/profile_avatar_contact_account_user_default-male.png' %}" alt="profile_pic" style="width:90%">
  {% elif member.gender == 'F' %}<img src="{% static 'manage_sy/profilepics/profile_avatar_contact_account_user_default-female.png' %}" alt="profile_pic" style="width:90%">
  {% else %} <img src="{% static 'manage_sy/profilepics/profile_avatar_contact_account_user_default-neutral.png' %}" alt="profile_pic" style="width:90%">
    {% endif  %}

  <h1>{{ member.nickname }} </h1>
  <p class="profile-title">  <p>{% if not isCompanionProfile %} {{ user.username }}
    {% else %} {{ companion_name }}
    {% endif  %} | {{ member.email }}   |
   {% if member.gender == 'M' %} <i class="fas fa-male"></i>
   {% elif member.gender == 'F' %}<i class="fas fa-female"></i>
  {% else %} <i class="fas fa-neuter"></i>
    {% endif  %}</p>
  <p>{% if member.is_first_registered %} Created <i>  {{ member.home_name }}  </i>
    {% else %} Joined <i> {{ user.home_name }} </i>
    {% endif  %}


   on {{member.date_joined}} </p>

  <p>{% if not member.companion_registered %}
      Connecting with
         {% if isCompanionProfile  %}
         <a class="dropdown-item" href="{% url 'manage_sy:member_detail' member.pk   %}">  {{member.companion_name}}</a>
    {% elif isCompanionProfile %} Connected to
    {% endif  %}
   {{member.companion_name}}
    {% endif  %}

    <small> {{member.companion_email}}   </small></p>
 {% if not isCompanionProfile %} <a href="{% url 'manage_sy:member_edit' member.pk %}"><button >Edit </button></a>    {% endif  %}
</div>


{% endblock content %}
</html>

