<!doctype html>
<html lang="en">
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Log In</button>
    <a href="{% url 'manage_sy:password_reset_form' %}">Forgot Password</a>
</form>

  <a href="{% url 'manage_sy:signup' %}" class="btn btn-link">If you are new Register here!!</a>

{% endblock content %}
</html>
